equinox
transformers
optax
einops
wandb
pyrallis
pyarrow
zstandard
datasets
gcsfs
braceexpand
git+https://github.com/deepmind/jmp#260e5ba01f46b10c579a61393e6c7e546aeae93e
fsspec==2022.7.1 # pin this to make gcsfs happy
furl
