equinox~=0.9.0
transformers>=4.22.0
optax
wandb
pyrallis
pyarrow
zstandard
datasets~=2.6.0
gcsfs==2022.10.0
braceexpand
jmp @ git+https://github.com/deepmind/jmp#7b3ae548154625a56a6dbdb03bc07d4f599c37b2
fsspec==2022.10.0 # pin this to make gcsfs happy
tensorstore
pytimeparse
humanfriendly
