data: !include data/openwebtext_source.yaml
model:
  type: gpt2
  hidden_dim: 1600
  num_heads: 25
  num_layers: 48
  seq_len: 1024
  gradient_checkpointing: true
  scale_attn_by_inverse_layer_idx: true
trainer:
  tracker:
    project: "levanter"
    tags: [ "openwebtext", "gpt2"]
  mp: p=f32,c=bfloat16
optimizer:
  learning_rate: 1E-4
  weight_decay: 0.1
  min_lr_ratio: 0.1
