data: !include data/pile_mixture.yaml
model:
  type: gpt2
  hidden_dim: 768
  num_heads: 12
  num_layers: 12
  seq_len: 1024
  gradient_checkpointing: true
  scale_attn_by_inverse_layer_idx: true
trainer:
  tracker:
    project: "levanter"
    tags: [ "pile", "gpt2", "itest"]

  mp: p=f32,c=bfloat16
  model_axis_size: 1

  train_batch_size: 256
  num_train_steps: 20000
optimizer:
  learning_rate: 1E-3
  weight_decay: 0.1
