data:
  id: dlwh/wikitext_103_detokenized
  cache_dir: "gs://levanter-data/tokenized/wiki-llama/"
  tokenizer: "meta-llama/Llama-2-70b-hf"
model:
  type: llama
# TODO: uncomment this once we resolve the resource exhaustion issue
initialize_from_hf: "meta-llama/Llama-2-7b-hf"
use_hf_model_config: true
second_model: "LLM360/Amber"
trainer:
  tracker:
    type: wandb
    project: "levanter"
    tags: ["openwebtext", "llama", "llama2-amber"]

  mp: p=f32,c=bfloat16
  train_batch_size: 128  # set for v4-64 TPU
  num_train_steps: 2
  steps_per_eval: 1
  tensor_parallel_axes: ["mlp", "heads"]
  fsdp_axis: "embed"
  batch_axis: "batch"
optimizer:
  learning_rate: 0  # set low for fine-tuning
  weight_decay: 0.0
  min_lr_ratio: 0.0


alpha: 0.95